/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.logo img {
    height: 50px;
}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.menu a:hover {
    color: #ff6347; /* Hover color */
}

/* Dropdown styles */
.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: white;
}

.dropdown-content a:hover {
    background-color: #575757;
}

/* Sign In Button styles */
.signin-btn {
    padding: 8px 15px;
    background-color: #ff6347;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.signin-btn:hover {
    background-color: #ff4500;
}
